# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
build/

#PhpStorm directories
.idea/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
.gitignore~
