{% extends 'JdhBrandInfoBundle::layout.html.twig' %}

{% block content_header %}

    <div id="main_title" class="title" >
        <h2>Brand info main page</h2>
    </div>

{% endblock %}

{% block content_block %}

    <div id="brandinfo-main-selector">
        <p class="">
            Select what you want to do:
        </p>

        <ul id="brandinfo-main-selections">
            <li><a id="brandinfo" href="{{ path("_brand_info", {'startIndex': '1'})}}">Get brand info</a></li>
            <li><a id="brandwheretobuy" href="{{ path("_brand_wheretobuy", {'startIndex': '1'}) }}">Get where to buy</a></li>
        </ul>
    </div>

{% endblock %}
