<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Weather station{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {#To load the assets to the correct location must run: php app/console assets:install #}
        {# stylesheets 'bundles/jdhweather/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets #}
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    </head>
    <body>

        <div id="brand-wrapper" data-role="page">
            <div id="brand-header" class="brand-site-title" data-role="header">
                {% block content_header %}
                {% endblock %}
            </div>

            <div id="brand-content" data-role="content">
                {% block content_block %}
                {% endblock %}
            </div>
        </div>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
