<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Weather station{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {#To load the assets to the correct location must run: php app/console assets:install #}
        {# stylesheets 'bundles/jdhweather/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets #}
    </head>
    <body>

        <div id="brand-wrapper">
            <div id="brand-header" class="brand-site-title">
                <h1>Brand info</h1>
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            <div id="brand-content">
                {% block content_header %}
                {% endblock %}

                {% block content_block %}
                {% endblock %}
            </div>
        </div>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
